<mat-drawer-container>

    <!-- Drawer container -->
    <mat-drawer mode="side" opened class="drawer-container">
        <mat-list>      
            <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === '1' }" 
                (click)="selectValue = '1'"> 
                Список не обработанных заявок
            </mat-list-item>
            <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === '2' }" 
                (click)="selectValue = '2'"> 
                Мои заявки
            </mat-list-item>
            <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === '3' }" 
                (click)="selectValue = '3'"> 
                Архив 
            </mat-list-item>
            <ng-container *ngIf="selectValue === '4'">
                <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === '4' }" (click)="selectValue = '4'"> 
                    <small> Тема: {{theme}} </small>
                </mat-list-item>
            </ng-container>

            <ng-container *ngIf="selectValue === '5'">
                <mat-list-item id="last" role="listitem" [ngClass]="{ 'list-item-selected': selectValue === '5' }" (click)="selectValue = '5'"> 
                    <small> Тема: {{theme}} </small>
                </mat-list-item>
            </ng-container>
            <ng-container *ngIf="selectValue === '5'">
                <div class="info">
                    <small>
                        Номер заявки: {{requestTask.id}} <br>
                        Автор: {{requestTask.user}}<br>
                        Телефон: {{requestTask.phone}}<br>
                        Статус: {{requestTask.status}}<br>
                        Дата открытия: {{requestTask.dateOpen}}
                        <ng-container *ngIf="requestTask.dateClose">
                            <br>
                            Дата закрытия: {{requestTask.dateClose}}
                        </ng-container>
                        <hr>
                    </small>
                    <!-- <div>
                        <button mat-stroked-button color="primary" (click)="onDecision()"> Решено </button>
                    </div> -->
                </div>
            </ng-container>
        </mat-list>
    </mat-drawer>

    <!-- Main container -->
    <mat-drawer-content>
        <ng-container *ngIf="selectValue === '1'">
            <app-admin-list-all-form (onDataSelected)="openSelectedRequestInfo($event)"></app-admin-list-all-form>
        </ng-container>
        <ng-container *ngIf="selectValue === '2'">
            <app-admin-list-accepted-form (onDataSelected)="openSelectedRequest($event)"></app-admin-list-accepted-form>
        </ng-container>
        <ng-container *ngIf="selectValue === '3'">
            <app-archive-admin-form (onDataSelected)="openSelectedRequest($event)"></app-archive-admin-form>
        </ng-container>
        <ng-container *ngIf="selectValue === '4'">
            <app-request-form [requestTask]="requestTask" (onDataSelected)="openSelectedRequest($event)"></app-request-form>
        </ng-container>
        <ng-container *ngIf="selectValue === '5'">
            <app-chat-form [requestTask]="requestTask"></app-chat-form>
        </ng-container>
    </mat-drawer-content>
</mat-drawer-container>