<mat-list>      
    <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === 1 }" 
        (click)="redirectToMyTasks()"> 
        Мои заявки 
    </mat-list-item>
    <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === 2 }"
        (click)="redirectToNewTask()"> 
        Новая заявка 
    </mat-list-item>
    <mat-list-item role="listitem" [ngClass]="{ 'list-item-selected': selectValue === 5 }" 
        (click)="redirectToArchive()"> 
        Архив 
    </mat-list-item>
    <ng-container *ngIf="selectValue === '4'">
        <mat-list-item id="last" role="listitem" [ngClass]="{ 'list-item-selected': selectValue === 6 }" > 
            <small> Тема: {{theme}} </small>
        </mat-list-item>
    </ng-container>
</mat-list>
<ng-container *ngIf="selectValue === 6">
    <div class="info">
        <!-- <small>
            Номер заявки: {{requestTask.id}} <br>
            Администратор: {{requestTask.admin}}<br>
            Статус: {{requestTask.status}}<br>
            Дата открытия: {{requestTask.dateOpen}}
            <ng-container *ngIf="requestTask.dateClose">
                <br>
                Дата закрытия: {{requestTask.dateClose}}
            </ng-container>
            <hr>
        </small> -->
        <div>
            <button mat-stroked-button color="primary" (click)="onDecision()"> Решено </button>
        </div>
    </div>
</ng-container>