<div class="content"> 
    <ng-scrollbar #scrollable [visibility]="'hover'" thumbClass="custom-scrollbars">  
        <div class="list-group" *ngFor="let task of listTask; let i = index">
            <a class="list-group-item list-group-item-action list-item scrollbar-box" [ngClass]="{ 'active': i === selected, 'white-active': i === selected }" (click)="selected == i ? selected = null : selected = i; onOpenChat(task)">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> {{task.theme}} </h5>
                    <small> {{task.dateOpen}} </small>
                </div>
                <p class="mb-1"> {{task.messages[0].messageText}} </p>
                <small id="mes-date"><small id="mes-date"> {{task.messages[0].autor}} - {{task.messages[0].date}} </small></small>
                <br>
                <small id="mes-date"> 
                    <ng-container *ngIf="task.admin">
                        {{task.admin}} 
                    </ng-container>
                    <ng-container *ngIf="!task.admin">
                        не принят администратором
                    </ng-container>
                </small>
            </a>
        </div>
    </ng-scrollbar>
</div>